@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  max-width: 40rem;
  padding: 1rem;
  border-radius: 12px;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}

h2 {
  margin: 0.75rem 0;
  text-align: center;
}

button {
  padding: 0.75rem 2rem;
  border: 1px solid #c70053;
  border-radius: 30px;
  background-color: #c70053;
  color: white;
  font: inherit;
  cursor: pointer;
}

button:hover,
button:active {
  border-color: #e24d8b;
  background-color: #e24d8b;
}