<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link rel="stylesheet" href="theme.css" />

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
	</head>

	<body>
		<div id="app" class="container pt-5" v-cloak>
      <div class="card center">
        <ul class="list" v-if="colors.length">
          <!-- <li class="list-item" v-for="(value, key) in person"> -->
          <!--   <strong>{{key}}</strong> - <span>{{value}}</span> -->
          <!-- </li> -->
          <li
            class="list-item"
            :style="{cursor: 'not-allowed'}"
            v-for="(color, index) in colors"
            @click="colors.splice(index, 1)"
          >
            <span>{{index + 1}}.</span>
            <strong>{{color}}</strong>
          </li>
        </ul>
        <h3 v-show="!colors.length">No colors</h3>
      </div>
		</div>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="app.js"></script>
	</body>
</html>