<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Vue.js Goals</h1>
    </header>

    <section id="user-goal v-cloak">
      <h2>My Goal</h2>
      <p></p>
    </section>

    <!-- <div> -->
    <!--   <label for="goal">Goal</label> -->
    <!--   <input id="goal" type="text" v-model="enteredGoal" @keyup.enter="addGoal" /> -->
    <!--   <button @click="addGoal">Add Goal</button> -->
    <!-- </div> -->
    <!-- <ul v-if="goals.length"> -->
    <!--   <li v-for="(goal, index) in goals" :key="goal"> -->
    <!--     <p>{{ goal }}</p> -->
    <!--     <button @click="removeGoal">Remove</button> -->
    <!--   </li> -->
    <!-- </ul> -->
    <!-- <p v-else>No goals yet. Add a new one.</p> -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
