<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Render conditional content, lists</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Vue Notes</h1>
    </header>

    <section id="user-goals" v-cloak>
      <h2>My notes</h2>
      <input type="text" v-model="enteredNoteValue" @keydown.enter="addNote" />
      <button @click="addNote">Add Note</button>
      <p v-if="!notes.length">No notes have been added yet - please start adding some!</p>
      <ul v-else>
        <li title="Click to delete note." v-for="(note, index) in notes" :key="note" @click="removeNote(index)">
          <p>{{ note }}</p>
        </li>
      </ul>
    </section>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
